@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Gujarati:wght@100..900&display=swap');
@import url('https://use.typekit.net/fyp0lzh.css');

@font-face {
  font-family: 'Mier A';
  src: url('src/assets/mier/MierA-Regular.eot');
  src: local('Mier A Regular'), local('MierA-Regular'),
  url('src/assets/mier/MierA-Regular.eot?#iefix') format('embedded-opentype'),
  url('src/assets/mier/MierA-Regular.woff2') format('woff2'),
  url('src/assets/mier/MierA-Regular.woff') format('woff'),
  url('src/assets/mier/MierA-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mier A Demi';
  src: url('src/assets/mier/MierA-DemiBold.eot');
  src: local('Mier A DemiBold'), local('MierA-DemiBold'),
  url('src/assets/mier/MierA-DemiBold.eot?#iefix') format('embedded-opentype'),
  url('src/assets/mier/MierA-DemiBold.woff2') format('woff2'),
  url('src/assets/mier/MierA-DemiBold.woff') format('woff'),
  url('src/assets/mier/MierA-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

.h2 {
  font-weight: 400;
  font-family: "freight-big-pro", serif !important;
}

/* a,
.link {
  text-decoration: none;
  color: fuchsia;
  transition: 0.4s;
  padding: 3px;
} */

.icon{
  display: flex;
  column-gap: 1rem;
  padding-bottom: 0.75rem;
}

section.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

section, h2, p{
  text-align: center;
}

.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 0 0.5rem 0;
}

.card {
  padding: 1rem;
}

.deskripsi {
  text-align: center;
}

tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

tr {
  display: flex;
  gap: 0.5rem;
}

td {
  text-align: center;
}

.btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  justify-content: center;
  background-color: #4493a730;
  border-radius: 50px;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.btn:hover{
  background-color: #10b981;
  transition: all 0.3s ease;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

